:root {
  --clr1: #f4f5f7;
  --clr2: #253858;

  --clr1bg: rgb(235, 245, 255);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: #deebff;
  --clr2bg-light: #253858;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}
